.SkillPageSection {
  height: 90vh;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.SkillPageSection h1 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 40pt;
  position: relative;
  left: 40%;
  width: 420px;
}