.SkillPageSection {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.SkillPageSection h1 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 40pt;
  position: relative;
  left: 41%;
  width: 420px;
}

.Skills {
  display: flex;
  position: relative;
  left: 29%;
  top: 50px;
  width: 1017px;
  border: 2px solid white;
}